.about__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  // justify-content: space-between;
}

.about__item {
  width: 450px;

  @include tablet {
    width: calc((100% - 30px) / 2);
  }

  @include desktop {
    width: calc((100% - 90px) / 4);
  }
}

.about__box {
  background-color: var(--light-backgound);
  margin-bottom: 30px;
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
}
